@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.title {
  max-width: $layout-post-single-width;
  margin: 0 auto;
  margin-bottom: 3rem;

  &__content {
    font-size: $typographic-base-font-size * 2.5;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0)
  }
}